:root {
    /* --light-green:rgba(95, 214, 128, 0.23); */
    /* --light-red:rgba(214, 95, 95, 0.23); */
    --background-color: #FFF;
    --background-color-alt:#FFF;
    --black: #000000;
    --border-color:#C4C4C4;
    --decline-color:#d9534f;
    --font-color:#212121;
    --green: #74c283;
    --helper-color:#385989;
    --hover-rating-color:silver;
    --link-color:#f7af69;
    --receiver-color: #f3b77d;
    --red:#D65F5F;
    --req-color:#5cb85c;
    --section-color:#F1F5FD;
    --text-highlight-color:#8C8C8C;
    --white:#FFF;
    --light-background:rgba(247, 175, 105, 0.23);
    --yellow: #fff3af;
    --light-orange: #FFDCBA;
    --light-yellow: #FFF5BE;
    --light-green: #DCF5D6;
    --light-red: #ffd1d1;
    --light-blue: #d6e8f5;
    --light-blue2: #EFF3F5;
    --bright-pink: #db2269;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
  }

  body {
    /* background: #DFDFDF !important; */
    min-height: 100vh;
    display: flex;
    font-family: Roboto;
  }


  h1,h2,h3,h4,h5,h6,label,span {
    font-weight: 500;
    font-family: Roboto;
  }

  body, html, .App, #root, .auth-wrapper {
    width: 100%;
    height: 100%;
  }

  .home,
  .services,
  .Products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

  .services {
    /*background-image: url('/dhaan1/public/images/crop3.png');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    /* font-size: 100px; */
  }

.content {
  margin: auto;
  margin-top: 20px;
  width: 50%;
  background-color: #fff;
  padding: 10px 35px 10px 35px;
  border-radius: 8px;
  background-size: cover;
  color: white;
}

.title {
  text-align: center;
  /* letter-spacing: 0.15rem; */
  color: #000;
}

.result-container {
  text-align: center;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  padding: 20px 0 0;
}

#result {
  color: #000;
}

.home-header{
  width:100px;
  color: #000000;
  margin:auto;
  font-weight:700;
  margin-bottom :55.99%;
}

.home-form{
  margin: auto;
  margin-top: 20px;
  width: 50%;
  background-color: #fff;
  padding: 70px;
  border-radius: 8px;
  background-size: cover;
}

.about-form{
  margin: auto;
  margin-top: 20px;
  width: 50%;
  background-color: #fff;
  padding: 70px;
  border-radius: 8px;
  background-size: cover;
}

.about-header{
  width:100px;
  color: #000000;
  margin:auto;
  font-weight:700;
}

.about-form p{
  color: #000000;
  margin:auto;
  font-weight:400;
  font-size: 18px;
  line-height: 30px;
}
.wrapper {
    margin:0 auto;
}
.flex-section {
    display:flex!important;
}

.sp-btw {
    justify-content:space-between;
}


@media screen and (max-width: 780px) {

  .content {
    margin: auto;
    margin-top: 20px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    background-size: cover;
    color: white;
    }


}