@media screen and (max-width: 720px) {
  .home-form{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}
}

@media screen and (min-width: 720px){
.wrapper {
    max-width: 800px;
}
}
